body {}

#banner {
    width: 100%;
}

.titulo-principal {
    padding-left: 20px;
}

.principal {
    background: #cccccc;
    padding: 30px;
}

.texto-centralizado {
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: red;
}

.itens {
    font-style: italic;
}

.Beneficios {
    background: #ffffff;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
}