header {
    background: #BBBBBB;
    padding: 20px;
}

.caixa-header {
    position: relative;
    width: 940px;
    margin: auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    top: 0%;
    right: 0%;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

nav a:hover {
    color: #c78c19;
    text-decoration: dashed;
}

footer {
    background: url("/imagens/bg.jpg");
    text-align: center;
    padding: 40px 0;
}

.copyright {
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    margin: 10px 0 0;
}